/* *{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
} */
div{
    justify-content: space-around;
    display: flex;
    background: blueviolet;
    color: #ffff;
    /* margin-top:-20; */
}
div ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li{
    list-style: none;
    padding-left: 20px;
}